/NabtoPushFirebaseDemo/.gitignore
/NabtoPushFirebaseDemo/app/.gitignore
/NabtoPushFirebaseDemo/app/proguard-rules.pro
/NabtoPushFirebaseDemo/app/src/androidTest/java/com/nabto/nabto_push_firebase_demo/ExampleInstrumentedTest.java
/NabtoPushFirebaseDemo/app/src/test/java/com/nabto/nabto_push_firebase_demo/ExampleUnitTest.java
/NabtoPushFirebaseDemo/gradlew.bat
/android_app/.gitignore
/android_app/.idea/vcs.xml
/android_app/README.md~
/android_app/app/.gitignore
/android_app/app/libs/firebase-client-android-2.5.2.jar
/android_app/app/proguard-rules.pro
/android_app/app/src/androidTest/java/com/nabto/tfk/pushnotificationdemo/ExampleInstrumentedTest.java
/android_app/app/src/test/java/com/nabto/tfk/pushnotificationdemo/ExampleUnitTest.java
/android_app/gradlew.bat
/device/build/CMakeCache.txt
/device/build/CMakeFiles/3.7.2/CMakeCCompiler.cmake
/device/build/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
/device/build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
/device/build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
/device/build/CMakeFiles/3.7.2/CMakeSystem.cmake
/device/build/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
/device/build/CMakeFiles/3.7.2/CompilerIdC/a.out
/device/build/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/device/build/CMakeFiles/3.7.2/CompilerIdCXX/a.out
/device/build/CMakeFiles/CMakeDirectoryInformation.cmake
/device/build/CMakeFiles/CMakeOutput.log
/device/build/CMakeFiles/Makefile.cmake
/device/build/CMakeFiles/Makefile2
/device/build/CMakeFiles/TargetDirectories.txt
/device/build/CMakeFiles/cmake.check_cache
/device/build/CMakeFiles/feature_tests.bin
/device/build/CMakeFiles/feature_tests.c
/device/build/CMakeFiles/feature_tests.cxx
/device/build/CMakeFiles/progress.marks
/device/build/CMakeFiles/push_device_stub.dir/C.includecache
/device/build/CMakeFiles/push_device_stub.dir/DependInfo.cmake
/device/build/CMakeFiles/push_device_stub.dir/build.make
/device/build/CMakeFiles/push_device_stub.dir/cmake_clean.cmake
/device/build/CMakeFiles/push_device_stub.dir/depend.internal
/device/build/CMakeFiles/push_device_stub.dir/depend.make
/device/build/CMakeFiles/push_device_stub.dir/flags.make
/device/build/CMakeFiles/push_device_stub.dir/link.txt
/device/build/CMakeFiles/push_device_stub.dir/progress.make
/device/build/CMakeFiles/push_device_stub.dir/src/unabto_application.c.o
/device/build/CMakeFiles/push_device_stub.dir/src/unabto_main.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/cli/gopt/gopt.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/cli/gopt/unabto_args_gopt.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/crypto/openssl/unabto_crypto_openssl.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/diagnostics/unabto_diag.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns/unix/unabto_unix_dns.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_client.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_fallback_data.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_fallback_impl.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_fallback_probe.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_fallback_protocol.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/dns_fallback/unabto_dns_fallback_session.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/fingerprint_acl/fp_acl.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/fingerprint_acl/fp_acl_ae.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/fingerprint_acl/fp_acl_file.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/fingerprint_acl/fp_acl_memory.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/log/unabto_basename.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/log/unix/unabto_log_header_unix.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/network/bsd/unabto_network_bsd.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/network/epoll/unabto_epoll.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/random/openssl/unabto_random_openssl.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/stateful_push_service/stateful_push_service.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/timers/unix/unabto_unix_time.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/util/read_hex.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/modules/util/unabto_base32.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/platforms/unabto_printf_logger.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/platforms/unix/unabto_environment_unix.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_aes128_sha256.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_app_adapter.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_attach.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_buffers.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_common_main.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_connection.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_context.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_crypto.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_debug_packet.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_extended_rendezvous.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_memory.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_message.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_nano_stream.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_next_event.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_packet.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_packet_util.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_prf.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_push.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_query_rw.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_stream.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_stream_environment.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_stream_event.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_stream_window.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/unabto_tcp_fallback.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/util/unabto_buffer.c.o
/device/build/CMakeFiles/push_device_stub.dir/unabto/src/unabto/util/unabto_queue.c.o
/device/build/Makefile
/device/build/cmake_install.cmake
/device/build/persistence.bin
/device/build/push_device_stub
/device/src/demo_application.h~
/device/src/unabto_application.c~
/device/src/unabto_config.h~
