<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203225492464-97dkg05m9r23vkptjkl4eiq615t8srk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203225492464-97dkg05m9r23vkptjkl4eiq615t8srk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCTm2-kyQ_mk-ze6SV65TiGuN1K43DXr5A</string>
	<key>GCM_SENDER_ID</key>
	<string>203225492464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabto.push-example</string>
	<key>PROJECT_ID</key>
	<string>nabto-push-example</string>
	<key>STORAGE_BUCKET</key>
	<string>nabto-push-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203225492464:ios:2ce4cf75fb061f65</string>
	<key>DATABASE_URL</key>
	<string>https://nabto-push-example.firebaseio.com</string>
</dict>
</plist>